[build]
  command = "cd docs && npm install && npx myst build --html --execute"
  publish = "docs/_build/html"

[[redirects]]
  from = "/blog"
  to = "https://jupyter-book-blog.netlify.app/blog/"
  status = 200
  force = true

[[redirects]]
  from = "/blog/*"
  to = "https://jupyter-book-blog.netlify.app/blog/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/docs"
  to = "https://jupyterbook.org/docs-move-content-to-org/"
  status = 200
  force = true

[[redirects]]
  from = "/docs/*"
  to = "https://jupyterbook.org/docs-move-content-to-org/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/compass"
  to = "https://compass.jupyterbook.org/"
  status = 200
  force = true

[[redirects]]
  from = "/compass/*"
  to = "https://compass.jupyterbook.org/:splat"
  status = 200
  force = true

# Redirects from old docs hosted at / to the new one hosted at /docs/ 
[[redirects]]
  from = "/stable/*"
  to = "/docs/stable/:splat"
  status = 301
  force = false

[[redirects]]
  from = "/latest/*"
  to = "/docs/latest/:splat"
  status = 301
  force = false