# GITHUB TOKENS: We use an environment variable set in Netlify settings
# to access the GitHub API.
# If it expires, anybody can regenerate a new one and update the Netlify settings.
# Permissions needed: read from public repositories, read from *projects* on jupyter-book org.
[build]
  command = "bash netlify-build.sh"
  publish = "docs/_build/html"

# ----------------------------------------------------------------------------
# BLOG
# ----------------------------------------------------------------------------
[[redirects]]
  from = "/blog"
  to = "https://jupyter-book-blog.netlify.app/blog/"
  status = 200
  force = true

[[redirects]]
  from = "/blog/*"
  to = "https://jupyter-book-blog.netlify.app/blog/:splat"
  status = 200
  force = true

# ----------------------------------------------------------------------------
# TEAM COMPASS
# ----------------------------------------------------------------------------
[[redirects]]
  from = "/compass"
  to = "https://jupyter-book-team-compass.netlify.app/compass/"
  status = 200
  force = true

[[redirects]]
  from = "/compass/*"
  to = "https://jupyter-book-team-compass.netlify.app/compass/:splat"
  status = 200
  force = true

# ----------------------------------------------------------------------------
# USER DOCUMENTATION (READ THE DOCS)
# ----------------------------------------------------------------------------

[[redirects]]
  from = "/stable"
  to = "https://jupyter-book.readthedocs.io/stable/"
  status = 200
  force = true

[[redirects]]
  from = "/stable/*"
  to = "https://jupyter-book.readthedocs.io/stable/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/latest"
  to = "https://jupyter-book.readthedocs.io/latest/"
  status = 200
  force = true

[[redirects]]
  from = "/latest/*"
  to = "https://jupyter-book.readthedocs.io/latest/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/v1"
  to = "https://jupyter-book.readthedocs.io/v1/"
  status = 200
  force = true

[[redirects]]
  from = "/v1/*"
  to = "https://jupyter-book.readthedocs.io/v1/:splat"
  status = 200
  force = true

# TEMPORARY REDIRECT to preserve old Sphinx links to Jupyter Book v1 that used /en/
# ref: https://github.com/jupyter-book/jupyter-book/issues/2579
# we can delete this after Sept 2026 or so.
[[redirects]]
  from = "/en/*"
  to = "https://jupyter-book.readthedocs.io/en/:splat"
  status = 200
  force = true