[build]
  command = "cd docs && npm install && npx myst build --html --execute"
  publish = "docs/_build/html"

[[redirects]]
  from = "/blog/*"
  to = "https://jupyter-book-blog.netlify.app/blog/:splat"
  status = 200
  force = true
