[build]
  command = "cd docs && npm install && npx myst build --html --execute"
  publish = "docs/_build/html"

[[redirects]]
  from = "/blog"
  to = "https://jupyter-book-blog.netlify.app/blog/"
  status = 200
  force = true

[[redirects]]
  from = "/blog/*"
  to = "https://jupyter-book-blog.netlify.app/blog/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/docs"
  to = "https://jupyterbook.org/"
  status = 200
  force = true

[[redirects]]
  from = "/docs/*"
  to = "https://jupyterbook.org/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/compass"
  to = "https://compass.jupyterbook.org/"
  status = 200
  force = true

[[redirects]]
  from = "/compass/*"
  to = "https://compass.jupyterbook.org/:splat"
  status = 200
  force = true
